@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 700px;
    margin: 10px auto;
    background: #E5E5E5;
}

/*Estilização header e footer*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px 50px;
}

.menu-header, .menu-footer {
    text-shadow: 1px 1px 1px #2f6066;
}

.menu-header{
    background: linear-gradient(55deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    width: 343px;
    margin-left: 350px;
}

.menu-footer {
    background: linear-gradient(55deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    width: 343px;
    margin-left: 350px;
}

nav ul li {
    margin-right: 24px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}

nav ul li a:hover {
    opacity: 0.4;
}