main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 500px;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-user-form {
    display: flex;
    flex-direction: column;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    height: 500px;
}